@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
.text{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.h1{  
    font-size: 30px;
    font-weight: 600;
}
.h2{
    font-size: 18px;
    font-weight: 600;
}
.h3{   
    font-size: 18px;
    font-weight: 400;
}
.note{  
    font-size: 14px;
    font-weight: 300;
}
.content{
    padding: 7%
}