@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

.contact_body{
    padding: 110px 90px 40px 100px;
    display: flex;
    flex-direction: row;
    background-color: #242424;
}

.bigLogo_c{
    width: 14%;
    padding-right: 34%;
    height: fit-content;
}

.contact_form{
    color: white;
    font-size: 22px;
    width: 50%;
}

label{
    font-size: 16px;
}

.inputs{
    width: 460px;
    height: 40px;
    
    background-color: #242424;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 17px;
    margin-bottom: 10px;
}

.contact_form ::placeholder{
    color: white;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
}

.submission{
    width: 460px;
    display: flex;
    font-size: 16px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.msg_box{
    height: 250px;
    margin-bottom: 20px;

}

.submit_button{
    width: 6em;
    color: white;
    border: 1px solid #CCAF40;
    background: #CCAF40;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 17px;

}

.contacts{
    width: 460px;
    display: flex;
    justify-content: flex-end;
}

.img_contacts{
    width: 60%;
}

